body {
  font-family: 'Trebuchet MS', sans-serif;
  min-width: 360px;
}

#intro {
  margin-top: 5em;
  margin-bottom: 1em;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

section:not(#intro){
  padding: 1em 0;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  border-image: linear-gradient(to right, white, #ddd, white) 100% 1;

  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

li {
  padding: 2px;
}

.links {
  padding-bottom: 8px;
}

.icon {
  padding: 0 2px;
  max-height: 24px;
}

img {
  max-width: 100%;
}

#intro div.container {
  display: flex;
}

#thumbnail {
  display: none
}

#profile-pic {
  margin-top: auto;
  padding-left: 0;
}

#profile-pic img {
  max-height: 400px;
  display: inline;
  border-radius: 256px;
  border: 1px solid gray;
  margin-bottom: 12px;
}

.desktop {
  border: solid 1px lightgray;
  border-radius: 4px;
}

.ios {
  height: 600px;
  max-width: 100%;
  padding-top: 12px;
}

.caption {
  color: gray;
}

@media only screen and (max-width: 1000px) {
  #intro {
    margin: 2em 0;
  }
  #intro div.container {
    max-width: 640px;
    flex-direction: column;
  }
  #summary {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .header {
    margin: 4px 0;
  }
  h1 {
    display: inline;
    vertical-align: middle;
  }
  #thumbnail {
    display: inline;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    border: 1px solid gray;
    margin-left: 4px;
  }
  #thumbnail img {
    vertical-align: middle;
  }
  #profile-pic {
    display: none;
  }
}

@media only screen and (max-width: 440px) {
  h1 {
    font-size: 32px;
  }
  #thumbnail {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-left: 4px;
  }
}
